Explore ways to extract table info from structured (i.e. non-flat) Excel spreadsheets

In [1]:
import pandas as pd

from pathlib import Path

I'm using the example `2017BhavnaNew` file from the `Deduce-shared` GDrive folder: https://drive.google.com/open?id=1-ppRIL9GdHGBlQugybhnz1irDDEsmVCg

In [2]:
PATH = Path('/data/dl/web/test-tt-pore-water-data.xlsm')

In [3]:
pd.read_excel?

Signature:
pd.read_excel(
    io,
    sheet_name=0,
    header=0,
    names=None,
    index_col=None,
    parse_cols=None,
    usecols=None,
    squeeze=False,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skiprows=None,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    verbose=False,
    parse_dates=False,
    date_parser=None,
    thousands=None,
    comment=None,
    skip_footer=0,
    skipfooter=0,
    convert_float=True,
    mangle_dupe_cols=True,
    **kwds,
)
Docstring:
Read an Excel file into a pandas DataFrame.

Support both `xls` and `xlsx` file extensions from a local filesystem or URL.
Support an option to read a single sheet or a list of sheets.

Parameters
----------
io : str, file descriptor, pathlib.Path, ExcelFile or xlrd.Book
    The string could be a URL. Valid URL schemes include http, ftp, s3,
    gcs, and file. For file URLs, a host is expected. For instance, a local
    file could be /path/to/workbook.xlsx.
sheet_name : str, int, list, or None, default 0
    Strings are used for sheet names. Integers are used in zero-indexed
    sheet positions. Lists of strings/integers are used to request
    multiple sheets. Specify None to get all sheets.

    Available cases:

    * Defaults to ``0``: 1st sheet as a `DataFrame`
    * ``1``: 2nd sheet as a `DataFrame`
    * ``"Sheet1"``: Load sheet with name "Sheet1"
    * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
      as a dict of `DataFrame`
    * None: All sheets.

header : int, list of int, default 0
    Row (0-indexed) to use for the column labels of the parsed
    DataFrame. If a list of integers is passed those row positions will
    be combined into a ``MultiIndex``. Use None if there is no header.
names : array-like, default None
    List of column names to use. If file contains no header row,
    then you should explicitly pass header=None.
index_col : int, list of int, default None
    Column (0-indexed) to use as the row labels of the DataFrame.
    Pass None if there is no such column.  If a list is passed,
    those columns will be combined into a ``MultiIndex``.  If a
    subset of data is selected with ``usecols``, index_col
    is based on the subset.
parse_cols : int or list, default None
    Alias of `usecols`.

    .. deprecated:: 0.21.0
       Use `usecols` instead.

usecols : int, str, list-like, or callable default None
    Return a subset of the columns.
    * If None, then parse all columns.
    * If int, then indicates last column to be parsed.

    .. deprecated:: 0.24.0
       Pass in a list of int instead from 0 to `usecols` inclusive.

    * If str, then indicates comma separated list of Excel column letters
      and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
      both sides.
    * If list of int, then indicates list of column numbers to be parsed.
    * If list of string, then indicates list of column names to be parsed.

    .. versionadded:: 0.24.0

    * If callable, then evaluate each column name against it and parse the
      column if the callable returns ``True``.

    .. versionadded:: 0.24.0

squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use `object` to preserve data as stored in Excel and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.

    .. versionadded:: 0.20.0

engine : str, default None
    If io is not a buffer or path, this must be set to identify io.
    Acceptable values are None or xlrd.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can
    either be integers or column labels, values are functions that take one
    input argument, the Excel cell content, and return the transformed
    content.
true_values : list, default None
    Values to consider as True.

    .. versionadded:: 0.19.0

false_values : list, default None
    Values to consider as False.

    .. versionadded:: 0.19.0

skiprows : list-like
    Rows to skip at the beginning (0-indexed).
nrows : int, default None
    Number of rows to parse.

    .. versionadded:: 0.23.0

na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values. By default the following values are interpreted
    as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    If na_values are specified and keep_default_na is False the default NaN
    values are overridden, otherwise they're appended to.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
parse_dates : bool, list-like, or dict, default False
    The behavior is as follows:

    * bool. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {{'foo' : [1, 3]}} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index contains an unparseable date, the entire column or
    index will be returned unaltered as an object data type. For non-standard
    datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

    Note: A fast-path exists for iso8601-formatted dates.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
thousands : str, default None
    Thousands separator for parsing string columns to numeric.  Note that
    this parameter is only necessary for columns stored as TEXT in Excel,
    any numeric columns will automatically be parsed, regardless of display
    format.
comment : str, default None
    Comments out remainder of line. Pass a character or characters to this
    argument to indicate comments in the input file. Any data between the
    comment string and the end of the current line is ignored.
skip_footer : int, default 0
    Alias of `skipfooter`.

    .. deprecated:: 0.23.0
       Use `skipfooter` instead.
skipfooter : int, default 0
    Rows at the end to skip (0-indexed).
convert_float : bool, default True
    Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
    data will be read in as floats: Excel stores all numbers as floats
    internally.
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
**kwds : optional
        Optional keyword arguments can be passed to ``TextFileReader``.

Returns
-------
DataFrame or dict of DataFrames
    DataFrame from the passed in Excel file. See notes in sheet_name
    argument for more information on when a dict of DataFrames is returned.

See Also
--------
to_excel : Write DataFrame to an Excel file.
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
The file can be read using the file name as string or an open file object:

>>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
       Name  Value
0   string1      1
1   string2      2
2  #Comment      3

>>> pd.read_excel(open('tmp.xlsx', 'rb'),
...               sheet_name='Sheet3')  # doctest: +SKIP
   Unnamed: 0      Name  Value
0           0   string1      1
1           1   string2      2
2           2  #Comment      3

Index and header can be specified via the `index_col` and `header` arguments

>>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
     0         1      2
0  NaN      Name  Value
1  0.0   string1      1
2  1.0   string2      2
3  2.0  #Comment      3

Column types are inferred but can be explicitly specified

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
       Name  Value
0   string1    1.0
1   string2    2.0
2  #Comment    3.0

True, False, and NA values, and thousands separators have defaults,
but can be explicitly specified, too. Supply the values you would like
as strings or lists of strings!

>>> pd.read_excel('tmp.xlsx', index_col=0,
...               na_values=['string1', 'string2'])  # doctest: +SKIP
       Name  Value
0       NaN      1
1       NaN      2
2  #Comment      3

Comment lines in the excel input file can be skipped using the `comment` kwarg

>>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
      Name  Value
0  string1    1.0
1  string2    2.0
2     None    NaN
File:      ~/miniconda3/envs/dev-dacman/lib/python3.6/site-packages/pandas/io/excel.py
Type:      function

In [4]:
# I would like to leave the dates untouched at this point,
# but I suspect excel might be having some per-cell datetime set,
# and this is honoring it
DF = (pd.read_excel(PATH, sheet_name=0, header=None)
      # set index to be 1-based to match the source columns
      .shift()[1:]
     )
DF

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
1,TT01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-04-26 00:00:00,depth,volume,NaN,Li,Be,B,Na,Mg,Al,...,HCO3-,NO3(WD),S(WD),Cl(WD),NaN,DOC,depth,NO3(Rifle)/ NO3(LBL),SO4(Rifle)/ SO4(LBL),Cl(Rifle)/ Cl(LBL)
5,NaN,"z, m",mL,NaN,uM,µM,uM,mM,mM,uM,...,mM,mM,mM,mM,NaN,mM,"z, m",NaN,NaN,NaN
6,NaN,-0.5,185,NaN,17.1506,NaN,39.0816,3.44001,2.10883,0.00324339,...,2.13567,NaN,4.29395,2.35942,NaN,1.26,-0.5,NaN,0.909419,0.836179
7,NaN,-0.95,192,NaN,11.5239,NaN,67.4826,21.1641,10.494,0.00346711,...,2.57567,NaN,24.6873,7.36136,NaN,1.65,-0.95,NaN,0.953187,1.04534
8,NaN,-1.5,80,NaN,20.2655,NaN,41.6368,88.4052,28.0345,0.00263293,...,4.67,NaN,63.9071,38.5618,NaN,3.77,-1.5,NaN,0.905735,0.870137
9,NaN,-1.94,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.145,NaN,13.2094,7.59916,NaN,NaN,-1.94,NaN,0.932133,0.887743
10,NaN,-2.43,43,NaN,14.3186,NaN,73.9796,36.1096,13.5898,0.00614303,...,4.19667,NaN,35.4888,11.8344,NaN,1.62,-2.43,NaN,0.916393,0.91165
11,NaN,-2.94,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.94,NaN,NaN,NaN
12,NaN,-3.36,48,NaN,14.8487,NaN,123.374,35.3169,13.9575,0.00509694,...,4.32333,NaN,34.2623,12.1304,NaN,1.54,-3.36,NaN,0.931004,0.969896
13,CMT port 1,-3.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-3.97,NaN,NaN,NaN
14,CMT port 2,-5.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-5.49,NaN,NaN,NaN
15,CMT port 3,-7.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-7.02,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"5/3/2013, and 5/6/13 for CMT samples",depth,volume,NaN,Li,Be,B,Na,Mg,Al,...,HCO3-,NO3(WD),S(WD),Cl(WD),NaN,DOC,depth,NO3(Rifle)/ NO3(LBL),SO4(Rifle)/ SO4(LBL),Cl(Rifle)/ Cl(LBL)
19,NaN,"z, m",mL,NaN,uM,µM,uM,mM,mM,uM,...,mM,mM,mM,mM,NaN,mM,"z, m",NaN,NaN,NaN
20,NaN,-0.5,165,NaN,17.5139,NaN,65.3506,6.75477,5.81508,0.00521439,...,3.35,NaN,13.5252,5.9197,NaN,1.15,-0.5,NaN,0.960983,0.899945
21,NaN,-0.95,60,NaN,12.696,NaN,58.9033,18.1013,9.60795,0.00226004,...,2.835,NaN,25.7707,6.80053,NaN,1.46,-0.95,NaN,0.879979,0.849964
22,NaN,-1.5,15,NaN,33.5759,NaN,119.149,109.874,35.2303,0.0147314,...,NaN,NaN,NaN,NaN,NaN,5.39,-1.5,NaN,NaN,NaN
23,NaN,-1.94,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.94,NaN,NaN,NaN
24,NaN,-2.43,29,NaN,15.9509,NaN,89.5067,64.4439,20.9011,0.0262496,...,6.32333,1.45153,55.4885,18.3754,NaN,10.69,-2.43,0,0.975999,1.04796
25,NaN,-2.94,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.94,NaN,NaN,NaN
26,NaN,-3.36,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.93,0.483593,45.9635,18.3544,NaN,1.51333,-3.36,0,0.906879,0.893918
27,CMT port 1,-3.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-3.97,NaN,NaN,NaN
28,CMT port 2,-5.49,y,NaN,17.6916,NaN,77.7021,14.0472,7.74858,0.0065146,...,7.82667,0.451824,16.4879,6.08197,NaN,0.74,-5.49,NaN,0.911455,0.941635
29,CMT port 3,-7.015,y,NaN,16.89,NaN,69.6606,12.4898,6.16022,0.0034774,...,8.24,NaN,13.6711,3.90229,NaN,0.86,-7.015,NaN,0.813951,1.55806
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,CMT port 2,-5.49,y,NaN,15.9667,0.0011,75.4097,14.7656,5.84127,3.90604,...,9.98,NaN,NaN,NaN,NaN,0.319,-5.49,NaN,NaN,NaN
253,CMT port 3,-7.02,y,NaN,18.5513,-6.66667e-05,81.3461,18.5747,7.0162,4.27687,...,11.01,NaN,NaN,NaN,NaN,0.429,-7.02,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,2014-04-24 00:00:00,depth,NaN,NaN,Li,Be,B,Na,Mg,Al,...,HCO3-,NO3(WD),S(WD),Cl(WD),NaN,DOC,depth,NaN,NaN,NaN
258,NaN,"z, m",NaN,NaN,uM,µM,uM,mM,mM,uM,...,mM,mM,mM,mM,NaN,mM,"z, m",NaN,NaN,NaN
259,NaN,-0.5,NaN,NaN,12.8562,-0.000711111,203.656,14.2385,8.06848,10.4331,...,5.36,NaN,NaN,NaN,NaN,1.01,NaN,NaN,NaN,NaN
260,NaN,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,-1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,NaN,-1.94,NaN,NaN,26.9527,0.0722222,386.723,331.779,113.822,48.3216,...,15.97,NaN,NaN,NaN,NaN,8.4,NaN,NaN,NaN,NaN
263,NaN,-2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,NaN,-2.94,NaN,NaN,30.6739,0.168778,730.089,241.434,88.873,51.8841,...,18.25,NaN,NaN,NaN,NaN,6.09,NaN,NaN,NaN,NaN
265,NaN,-3.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,CMT port 1,-3.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,CMT port 2,-5.49,NaN,NaN,16.4937,-0.0146889,177.283,14.0887,6.67455,8.74877,...,10.27,NaN,NaN,NaN,NaN,0.37,NaN,NaN,NaN,NaN
268,CMT port 3,-7.02,NaN,NaN,17.9538,0.0290333,179.908,16.6268,7.0764,17.5274,...,10.83,NaN,NaN,NaN,NaN,0.45,NaN,NaN,NaN,NaN
269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,2014-05-12 00:00:00,depth,NaN,NaN,Li,Be,B,Na,Mg,Al,...,HCO3-,NO3(WD),S(WD),Cl(WD),NaN,DOC,depth,NaN,NaN,NaN
272,NaN,"z, m",NaN,NaN,uM,µM,uM,mM,mM,uM,...,mM,mM,mM,mM,NaN,mM,"z, m",NaN,NaN,NaN
273,NaN,-0.5,NaN,NaN,13.1391,0.00665556,223.107,13.2175,7.21151,5.8458,...,4.97,NaN,NaN,NaN,NaN,1.15,NaN,NaN,NaN,NaN
274,NaN,-0.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,-1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,NaN,-1.94,NaN,NaN,29.44,0.071,421.926,426.236,117.212,70.4737,...,17,NaN,NaN,NaN,NaN,8.15,NaN,NaN,NaN,NaN
277,NaN,-2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,NaN,-2.94,NaN,NaN,32.4383,0.140222,712.873,260.517,92.3803,54.4601,...,22.71,NaN,NaN,NaN,NaN,5.59,NaN,NaN,NaN,NaN
279,NaN,-3.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
280,CMT port 1,-3.97,NaN,2014-05-09 00:00:00,15.0909,0.0414111,173.245,35.4303,6.18602,8.62067,...,10.28,NaN,NaN,NaN,NaN,0.39,NaN,NaN,NaN,NaN
281,CMT port 2,-5.49,NaN,2014-05-09 00:00:00,16.5943,0.0105111,163.423,15.6057,6.70117,9.4533,...,9.46,NaN,NaN,NaN,NaN,0.38,NaN,NaN,NaN,NaN

In [5]:
def is_header_row(row):
    # this should obviously be customized/adapted
    return 'depth' in row.tolist()

In [6]:
def to_intervals(seq):
    return [(seq[i], seq[i + 1] -1) for i in range(len(seq) - 1)]

def to_slices(endpoints):
    return [slice(start, end) for start, end in endpoints]

In [7]:
header_indices = [2, 16, 30, 44, 58, 72, 86, 100, 114, 128, 142, 156, 170, 184, 198, 212, 226, 240, 255, 269]
to_slices(to_intervals(header_indices))

[slice(2, 15, None),
 slice(16, 29, None),
 slice(30, 43, None),
 slice(44, 57, None),
 slice(58, 71, None),
 slice(72, 85, None),
 slice(86, 99, None),
 slice(100, 113, None),
 slice(114, 127, None),
 slice(128, 141, None),
 slice(142, 155, None),
 slice(156, 169, None),
 slice(170, 183, None),
 slice(184, 197, None),
 slice(198, 211, None),
 slice(212, 225, None),
 slice(226, 239, None),
 slice(240, 254, None),
 slice(255, 268, None)]

In [8]:
import re

def get_datetimes(str_with_dates, formats=None, pattern=None, to_datetime=None, **kwargs):
    # not used ATM
    # formats = formats or ['%m/%d/%Y']
    pattern = pattern or r'\d{1,2}.\d{1,2}.\d{2,4}'
    to_datetime = to_datetime or pd.to_datetime
    
    matches = re.findall(pattern, str_with_dates)
    return [to_datetime(match, **kwargs) for match in matches]

get_datetimes('05/13/2019, and 05/13/2009 and some other day')

[Timestamp('2019-05-13 00:00:00'), Timestamp('2009-05-13 00:00:00')]

In [9]:
def process_single(raw):
    headers = raw.iloc[0, 1:].tolist()
    headers = ['_cmt_port'] + headers
    # we don't care about units for the time being
    # units = ...
    
    # TODO improve date/timestamp processing
    # in general I would try to extract an indicative date
    # to be upcasted to a datetime type,
    # and leave the raw string in a separate column
    # maybe use a consistent prefix to refer to these "as is from the source file" columns?
    date_raw = raw.iloc[0, 0]

    # this could be either a timestamp-like (set in the orig spreadsheet), or a string
    if isinstance(date_raw, str):
            # as a basic criterion, just take the first date mentioned
            date_extracted = get_datetimes(date_raw)[0]
    else:
        date_extracted = date_raw

    # print(date_raw, date_extracted)
    
    data = raw.iloc[2:, :]
    
    # must use data.values as the main ctor arg
    df = (pd.DataFrame(data.values, columns=headers)
          # TODO verify if this is robust wrt changes in the previous processing steps
          .assign(_source_row=data.index)
          # important to use a function here, so that "d.columns" refers to the current dataframe
          .pipe(lambda d: d.loc[:, d.columns.dropna()])
          .pipe(lambda d: d.loc[:, ~d.columns.duplicated()])
          .assign(_date=date_extracted, _source_date=date_raw)
          # TODO set index here or later?
         )
    print(df.shape)

    return df

In [12]:
def split_to_tables(df):
    header_rows = df[lambda d: d.apply(is_header_row, axis=1)]
    split_idx = header_rows.index.tolist()
    print(split_idx)

    separate = [df.loc[slice_]
                for slice_ in to_slices(to_intervals(split_idx))
               ]
    
    return separate
    
def process(raw):
    
    return pd.concat([process_single(single_df)
                      for single_df in split_to_tables(raw)],
                      sort=False,
                      axis=0,
                     )

In [13]:
(DF
 .dropna(axis=0, how='all')
 .dropna(axis=1, how='all')
#  [lambda d: d.apply(is_header_row, axis=1)]
#  .pipe(split_to_tables)[0]
#  .pipe(process_single2)
 .pipe(process)
 .set_index(['_date', '_source_row'])
#  .index.tolist()
)

[4, 18, 32, 46, 60, 74, 88, 102, 116, 130, 144, 158, 172, 186, 200, 214, 228, 242, 257, 271]
(10, 64)
(10, 64)
(10, 64)
(10, 62)
(10, 61)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 62)
(10, 61)

                         _cmt_port  depth volume       Li           Be  \
_date      _source_row
2013-04-26 6                   NaN   -0.5    185  17.1506          NaN
           7                   NaN  -0.95    192  11.5239          NaN
           8                   NaN   -1.5     80  20.2655          NaN
           9                   NaN  -1.94     27      NaN          NaN
           10                  NaN  -2.43     43  14.3186          NaN
           11                  NaN  -2.94      0      NaN          NaN
           12                  NaN  -3.36     48  14.8487          NaN
           13           CMT port 1  -3.97    NaN      NaN          NaN
           14           CMT port 2  -5.49    NaN      NaN          NaN
           15           CMT port 3  -7.02    NaN      NaN          NaN
2013-05-03 20                  NaN   -0.5    165  17.5139          NaN
           21                  NaN  -0.95     60   12.696          NaN
           22                  NaN   -1.5     15  33.5759          NaN
           23                  NaN  -1.94      0      NaN          NaN
           24                  NaN  -2.43     29  15.9509          NaN
           25                  NaN  -2.94      0      NaN          NaN
           26                  NaN  -3.36     26      NaN          NaN
           27           CMT port 1  -3.97    NaN      NaN          NaN
           28           CMT port 2  -5.49      y  17.6916          NaN
           29           CMT port 3 -7.015      y    16.89          NaN
2013-05-15 34                  NaN   -0.5    132  17.7294          NaN
           35                  NaN  -0.95     70   16.731          NaN
           36                  NaN   -1.5     20  26.7848          NaN
           37                  NaN  -1.94      0      NaN          NaN
           38                  NaN  -2.43     41  23.1706          NaN
           39                  NaN  -2.94     14  24.1465          NaN
           40                  NaN  -3.36      0      NaN          NaN
           41           CMT port 1  -3.97    NaN      NaN          NaN
           42           CMT port 2  -5.49      y  15.3277          NaN
           43           CMT port 3 -7.015      y  17.4247          NaN
...                            ...    ...    ...      ...          ...
2014-03-28 230                 NaN   -0.5    NaN      NaN          NaN
           231                 NaN  -0.95     75   7.9495  -0.00413333
           232                 NaN   -1.5    105  14.7387   -0.0374667
           233                 NaN  -1.94     60  30.4908    0.0129333
           234                 NaN  -2.43    NaN      NaN          NaN
           235                 NaN  -2.94    NaN      NaN          NaN
           236                 NaN  -3.36    NaN      NaN          NaN
           237          CMT port 1  -3.97    NaN      NaN          NaN
           238          CMT port 2  -5.49      y  14.9878  -0.00208889
           239          CMT port 3  -7.02      y  17.8107   0.00951111
2014-04-11 244                 NaN   -0.5     30   10.449  -0.00211111
           245                 NaN  -0.95     40  14.1795   0.00224444
           246                 NaN   -1.5     25  21.6767      -0.0446
           247                 NaN  -1.94     65  29.5999       0.4638
           248                 NaN  -2.43    NaN      NaN          NaN
           249                 NaN  -2.94    NaN      NaN          NaN
           250                 NaN  -3.36    NaN      NaN          NaN
           251          CMT port 1  -3.97    NaN      NaN          NaN
           252          CMT port 2  -5.49      y  15.9667       0.0011
           253          CMT port 3  -7.02      y  18.5513 -6.66667e-05
2014-04-24 259                 NaN   -0.5    NaN  12.8562 -0.000711111
           260                 NaN  -0.95    NaN      NaN          NaN
           261                 NaN   -1.5    NaN      NaN          NaN
           262                 NaN  -1.94    NaN  26.9527    0.0722222
           263                 NaN  -2.43    NaN      NaN          NaN
           264                 NaN  -2.94    NaN  30.6739     0.168778
           265                 NaN  -3.36    NaN      NaN          NaN
           266          CMT port 1  -3.97    NaN      NaN          NaN
           267          CMT port 2  -5.49    NaN  16.4937   -0.0146889
           268          CMT port 3  -7.02    NaN  17.9538    0.0290333

                              B       Na       Mg          Al        Si  ...  \
_date      _source_row                                                   ...
2013-04-26 6            39.0816  3.44001  2.10883  0.00324339  0.236174  ...
           7            67.4826  21.1641   10.494  0.00346711  0.218953  ...
           8            41.6368  88.4052  28.0345  0.00263293  0.207296  ...
           9                NaN      NaN      NaN         NaN       NaN  ...
           10           73.9796  36.1096  13.5898  0.00614303  0.163298  ...
           11               NaN      NaN      NaN         NaN       NaN  ...
           12           123.374  35.3169  13.9575  0.00509694  0.173875  ...
           13               NaN      NaN      NaN         NaN       NaN  ...
           14               NaN      NaN      NaN         NaN       NaN  ...
           15               NaN      NaN      NaN         NaN       NaN  ...
2013-05-03 20           65.3506  6.75477  5.81508  0.00521439  0.299105  ...
           21           58.9033  18.1013  9.60795  0.00226004  0.288492  ...
           22           119.149  109.874  35.2303   0.0147314  0.268898  ...
           23               NaN      NaN      NaN         NaN       NaN  ...
           24           89.5067  64.4439  20.9011   0.0262496  0.210745  ...
           25               NaN      NaN      NaN         NaN       NaN  ...
           26               NaN      NaN      NaN         NaN       NaN  ...
           27               NaN      NaN      NaN         NaN       NaN  ...
           28           77.7021  14.0472  7.74858   0.0065146  0.334409  ...
           29           69.6606  12.4898  6.16022   0.0034774    0.3296  ...
2013-05-15 34           80.6564  11.7699  8.49693  0.00329532  0.345974  ...
           35           101.657  17.0329  11.0018  0.00332849  0.315449  ...
           36           72.4607  148.403  48.9483 -0.00167504  0.281579  ...
           37               NaN      NaN      NaN         NaN       NaN  ...
           38           162.492  115.456   36.859 -0.00097177  0.271562  ...
           39           186.459   97.343  31.6381 -0.00143133  0.259176  ...
           40               NaN      NaN      NaN         NaN       NaN  ...
           41               NaN      NaN      NaN         NaN       NaN  ...
           42           68.3912  13.6271  7.37448  0.00309025  0.323363  ...
           43           73.9002  13.1609  6.51206  0.00296682  0.339602  ...
...                         ...      ...      ...         ...       ...  ...
2014-03-28 230              NaN      NaN      NaN         NaN       NaN  ...
           231          51.3203  6.55281  4.23548     5.60721   370.146  ...
           232          217.594  91.2495  26.8141     11.9816   318.098  ...
           233          334.586  384.749  109.929       13.35   300.198  ...
           234              NaN      NaN      NaN         NaN       NaN  ...
           235              NaN      NaN      NaN         NaN       NaN  ...
           236              NaN      NaN      NaN         NaN       NaN  ...
           237              NaN      NaN      NaN         NaN       NaN  ...
           238          72.0978  13.9451  5.52823     5.18918   380.588  ...
           239          77.9709  17.8348  7.23689     4.59072    361.72  ...
2014-04-11 244          64.7002  11.8113  5.80427     7.71483   328.281  ...
           245          117.601  10.3828  7.49666     7.64111   592.831  ...
           246          257.074  126.063  35.2835     23.2499   481.449  ...
           247          338.914  355.329  121.295     24.0264    279.15  ...
           248              NaN      NaN      NaN         NaN       NaN  ...
           249              NaN      NaN      NaN         NaN       NaN  ...
           250              NaN      NaN      NaN         NaN       NaN  ...
           251              NaN      NaN      NaN         NaN       NaN  ...
           252          75.4097  14.7656  5.84127     3.90604   408.242  ...
           253          81.3461  18.5747   7.0162     4.27687   379.663  ...
2014-04-24 259          203.656  14.2385  8.06848     10.4331   436.555  ...
           260              NaN      NaN      NaN         NaN       NaN  ...
           261              NaN      NaN      NaN         NaN       NaN  ...
           262          386.723  331.779  113.822     48.3216  -209.005  ...
           263              NaN      NaN      NaN         NaN       NaN  ...
           264          730.089  241.434   88.873     51.8841  -122.545  ...
           265              NaN      NaN      NaN         NaN       NaN  ...
           266              NaN      NaN      NaN         NaN       NaN  ...
           267          177.283  14.0887  6.67455     8.74877   439.731  ...
           268          179.908  16.6268   7.0764     17.5274   440.025  ...

                          S(WD)   Cl(WD)      DOC NO3(Rifle)/ NO3(LBL)  \
_date      _source_row
2013-04-26 6            4.29395  2.35942     1.26                  NaN
           7            24.6873  7.36136     1.65                  NaN
           8            63.9071  38.5618     3.77                  NaN
           9            13.2094  7.59916      NaN                  NaN
           10           35.4888  11.8344     1.62                  NaN
           11               NaN      NaN      NaN                  NaN
           12           34.2623  12.1304     1.54                  NaN
           13               NaN      NaN      NaN                  NaN
           14               NaN      NaN      NaN                  NaN
           15               NaN      NaN      NaN                  NaN
2013-05-03 20           13.5252   5.9197     1.15                  NaN
           21           25.7707  6.80053     1.46                  NaN
           22               NaN      NaN     5.39                  NaN
           23               NaN      NaN      NaN                  NaN
           24           55.4885  18.3754    10.69                    0
           25               NaN      NaN      NaN                  NaN
           26           45.9635  18.3544  1.51333                    0
           27               NaN      NaN      NaN                  NaN
           28           16.4879  6.08197     0.74                  NaN
           29           13.6711  3.90229     0.86                  NaN
2013-05-15 34            19.343  10.2247      1.4            0.0249853
           35           27.1019  7.30024     1.54            0.0219528
           36               NaN      NaN     6.48                  NaN
           37               NaN      NaN      NaN                  NaN
           38           86.7893  32.8648     3.19                  NaN
           39               NaN      NaN     2.97                  NaN
           40               NaN      NaN      NaN                  NaN
           41               NaN      NaN      NaN                  NaN
           42           15.6045   6.3077     0.59            0.0173141
           43            11.746  6.54788     0.55            0.0781504
...                         ...      ...      ...                  ...
2014-03-28 230              NaN      NaN      NaN                  NaN
           231              NaN      NaN    0.785                  NaN
           232              NaN      NaN     2.14                  NaN
           233              NaN      NaN     7.98                  NaN
           234              NaN      NaN      NaN                  NaN
           235              NaN      NaN      NaN                  NaN
           236              NaN      NaN      NaN                  NaN
           237              NaN      NaN      NaN                  NaN
           238              NaN      NaN    0.324                  NaN
           239              NaN      NaN    0.425                  NaN
2014-04-11 244              NaN      NaN    1.008                  NaN
           245              NaN      NaN    0.974                  NaN
           246              NaN      NaN    2.308                  NaN
           247              NaN      NaN    8.097                  NaN
           248              NaN      NaN      NaN                  NaN
           249              NaN      NaN      NaN                  NaN
           250              NaN      NaN      NaN                  NaN
           251              NaN      NaN      NaN                  NaN
           252              NaN      NaN    0.319                  NaN
           253              NaN      NaN    0.429                  NaN
2014-04-24 259              NaN      NaN     1.01                  NaN
           260              NaN      NaN      NaN                  NaN
           261              NaN      NaN      NaN                  NaN
           262              NaN      NaN      8.4                  NaN
           263              NaN      NaN      NaN                  NaN
           264              NaN      NaN     6.09                  NaN
           265              NaN      NaN      NaN                  NaN
           266              NaN      NaN      NaN                  NaN
           267              NaN      NaN     0.37                  NaN
           268              NaN      NaN     0.45                  NaN

                       SO4(Rifle)/ SO4(LBL) Cl(Rifle)/ Cl(LBL)  \
_date      _source_row
2013-04-26 6                       0.909419           0.836179
           7                       0.953187            1.04534
           8                       0.905735           0.870137
           9                       0.932133           0.887743
           10                      0.916393            0.91165
           11                           NaN                NaN
           12                      0.931004           0.969896
           13                           NaN                NaN
           14                           NaN                NaN
           15                           NaN                NaN
2013-05-03 20                      0.960983           0.899945
           21                      0.879979           0.849964
           22                           NaN                NaN
           23                           NaN                NaN
           24                      0.975999            1.04796
           25                           NaN                NaN
           26                      0.906879           0.893918
           27                           NaN                NaN
           28                      0.911455           0.941635
           29                      0.813951            1.55806
2013-05-15 34                      0.910903           0.913809
           35                       0.94226           0.988337
           36                           NaN                NaN
           37                           NaN                NaN
           38                      0.863634           0.861219
           39                           NaN                NaN
           40                           NaN                NaN
           41                           NaN                NaN
           42                       0.89003           0.903277
           43                       1.01034            0.99817
...                                     ...                ...
2014-03-28 230                          NaN                NaN
           231                          NaN                NaN
           232                          NaN                NaN
           233                          NaN                NaN
           234                          NaN                NaN
           235                          NaN                NaN
           236                          NaN                NaN
           237                          NaN                NaN
           238                          NaN                NaN
           239                          NaN                NaN
2014-04-11 244                          NaN                NaN
           245                          NaN                NaN
           246                          NaN                NaN
           247                          NaN                NaN
           248                          NaN                NaN
           249                          NaN                NaN
           250                          NaN                NaN
           251                          NaN                NaN
           252                          NaN                NaN
           253                          NaN                NaN
2014-04-24 259                          NaN                NaN
           260                          NaN                NaN
           261                          NaN                NaN
           262                          NaN                NaN
           263                          NaN                NaN
           264                          NaN                NaN
           265                          NaN                NaN
           266                          NaN                NaN
           267                          NaN                NaN
           268                          NaN                NaN

                                                _source_date pH on  8-9-13  \
_date      _source_row
2013-04-26 6                             2013-04-26 00:00:00           NaN
           7                             2013-04-26 00:00:00           NaN
           8                             2013-04-26 00:00:00           NaN
           9                             2013-04-26 00:00:00           NaN
           10                            2013-04-26 00:00:00           NaN
           11                            2013-04-26 00:00:00           NaN
           12                            2013-04-26 00:00:00           NaN
           13                            2013-04-26 00:00:00           NaN
           14                            2013-04-26 00:00:00           NaN
           15                            2013-04-26 00:00:00           NaN
2013-05-03 20           5/3/2013, and 5/6/13 for CMT samples           NaN
           21           5/3/2013, and 5/6/13 for CMT samples           NaN
           22           5/3/2013, and 5/6/13 for CMT samples           NaN
           23           5/3/2013, and 5/6/13 for CMT samples           NaN
           24           5/3/2013, and 5/6/13 for CMT samples           NaN
           25           5/3/2013, and 5/6/13 for CMT samples           NaN
           26           5/3/2013, and 5/6/13 for CMT samples           NaN
           27           5/3/2013, and 5/6/13 for CMT samples           NaN
           28           5/3/2013, and 5/6/13 for CMT samples           NaN
           29           5/3/2013, and 5/6/13 for CMT samples           NaN
2013-05-15 34                            2013-05-15 00:00:00           NaN
           35                            2013-05-15 00:00:00           NaN
           36                            2013-05-15 00:00:00           NaN
           37                            2013-05-15 00:00:00           NaN
           38                            2013-05-15 00:00:00           NaN
           39                            2013-05-15 00:00:00           NaN
           40                            2013-05-15 00:00:00           NaN
           41                            2013-05-15 00:00:00           NaN
           42                            2013-05-15 00:00:00           NaN
           43                            2013-05-15 00:00:00           NaN